

html {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content:center;
    font-weight: 300;

}


body {
    background:url(https://i.pinimg.com/736x/a7/2b/ee/a72bee3d09a22e22c5d488f8130e0195.jpg);
    background-size:contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
}


nav {
    background-color: rgba(5,55,1,0.1);
    width: 300px;
    border-radius: 20px;
    backdrop-filter: blur(1px);   
    text-align: center; 
}



ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    width: 200px;
    padding: 20px;
    border-radius: 12px;
    margin: 15px 0;
    background: rgba(69, 69, 69, 0.32);
}

ul:first-child{
    margin-top: 30px;
}

li {
    line-height: 5px;
    font-size: 0.2px;
    
}
li:first-child {
    display: inline-block;
    color: #f0f0f0;
    font-size: 25px;
    margin-bottom:20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;

}

a {
    color:#f7af43;
    font-size:20px;
    text-decoration:solid;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;

}

a:hover{
    color:#f0f0f0;
    font-style:italic;
}

div {
    display: flex;
}

#mainContent {
    border-radius: 20px;
    width:900px;
    height:600px;
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    border: 1px solid rgba(255, 255, 255, 0.62);
}

#dateDiv {
    font-size: 20px;
    justify-content: right;
}

#timeAndDateDiv {
    display: block;
    position: relative;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    font-size: 60px;
    height: 90px;
    padding: 10px 10px;
    transition:1s;
    color: #2b2b2b;
    font-family: 'Inter', sans-serif;

}



#nameDisplay {
    display: block;
    position: absolute;
    left: 380px;
    top: 200px;
    font-size: 60px;
    background: linear-gradient(rgba(26,19,28,0.7), rgba(244, 252, 198, 0.7), rgba(214, 212, 216, 0.7));
    backdrop-filter: blur(5px);
    border-radius: 10px;
    height: 250px;
    width: 450px;
    font-family: 'Inter', sans-serif;

    
    
}

#searchBar {
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    
}

#searchBar input {
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;

}

#quote {
    display: block;
    margin: 70px 50px;
    font-size: 30px;
    font-weight: 500;
    color: black;
}

#prayerTimes {
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    position: absolute;
    left: 380px;
    top: 480px;
    width: 50%;
    font-family: 'Inter', sans-serif;
    backdrop-filter: blur(7px);
}

table{
    width: 100%;
}
td{
    text-align: center;
}


