@font-face {
    font-family: 'custom-font';
    src: url('fonts/IndieFlower-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

html {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content:center;
    font-family: 'custom-font',serif;
}

body {
    display:flex;
    /* background-image:linear-gradient(grey,grey,black);  */
    background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3RxMGg1MzR5MGZudG1ueGM4OHpxMWk0ZXZ2YnB6eTc5bjk5NGhybiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fwo7bzEVxbYS4eSNVd/giphy.gif);
    background-size: cover;
    align-items: center;
}

#bgvid {
    position:fixed;
    right:0;
    bottom:0;
    min-width:100%;
    min-height:100%;
}

.flipbox {
    background-color: transparent;
    width:400px;
    height:100px;
    perspective:1000px;
    margin-bottom:380px;
}

.inner-flipbox {
    position:relative;
    width:100%;
    height:100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipbox:hover .inner-flipbox {
    transform:rotateY(-180deg);
}

.front-flipbox,.back-flipbox {
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back-flipbox {
    transform:rotateY(-180deg);
}



img {
    display:block;
    height:480px;
    margin-right:50px;
    border-radius: 30px;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

nav {
    display:grid;
    backdrop-filter:blur(5px);
    background:rgba(255,255,255, 0.2);
    border-radius: 15px;
    width: 320px;
    height:630px;
}

ul {
    list-style-type: none;
    transition:1s;
}

ul:hover {
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    transition: 1s;
}

li {
    line-height: 30px;
}



li:first-child {
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-decoration:none;
    font-style:italic;
    margin-bottom: 10px;
    text-decoration: underline;

}

a {
    color: black;
    font-size:20px;
    text-decoration: none;
    align-items: left;                             
}

a:hover {
    font-weight: bold;
    border-radius: 20px;
    padding: 6px;
    background-color: rgba(190, 127, 212,0.5);
    color: white;
}
